<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-house-door"></i> My Portfolio
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index"><i class="bi bi-house "></i> Home</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="About"><i class="bi bi-person"></i> About</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="TechSkills"><i class="bi bi-tools"></i> Tech Skills</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Download"><i class="bi bi-file-earmark-arrow-down"></i> Download</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="bg-dark text-white text-center py-3 fixed-bottom">
        <div class="container">
            &copy; @DateTime.Now.Year - Sunil Rathod | Built with .NET & Bootstrap
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
